<section class="latest-product spad">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-12">
                <div class="latest-product__text">
                    <h4 style="display:flex">Latest Products</h4>
                    <owl-carousel-o [options]="customOptions">
                        <!-- <div class="latest-prdouct__slider__item"> -->
                            <ng-template carouselSlide>
                                    <div class="latest-product__item__pic" >
                                        <img src="assets/img/latest-product/lp-1.jpg" alt="">
                                    </div>
                                    <div>
                                        <h6 style="color: #252525;  margin-bottom: 8px;">Crab Pool Security</h6>
                                        <span style="font-size: 18px; display: block; color: #252525; font-weight: 700;">$30.00</span>
                                    </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="latest-product__item__pic" >
                                    <img src="assets/img/latest-product/lp-3.jpg" alt="">
                                </div>
                                <div>
                                    <h6 style="color: #252525;  margin-bottom: 8px;">Crab Pool Security</h6>
                                    <span style="font-size: 18px; display: block; color: #252525; font-weight: 700;">$30.00</span>
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="latest-product__item__pic" >
                                    <img src="assets/img/latest-product/lp-2.jpg" alt="">
                                </div>
                                <div>
                                    <h6 style="color: #252525;  margin-bottom: 8px;">Crab Pool Security</h6>
                                    <span style="font-size: 18px; display: block; color: #252525; font-weight: 700;">$30.00</span>
                                </div>
                            </ng-template>
                        <!-- </div> -->
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
</section>